@model IEnumerable<Practice.Models.DIARY>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DIARY_TITLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIARY_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIARY_TEXT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEATHER)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DIARY_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIARY_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIARY_TEXT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEATHER)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
